.video {
    background-color: #F8FAF9;
}

.video__title {
    padding-top: rem(58px);
    padding-bottom: rem(44px);
    font-size: rem(48px);
    color: $blackColor;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}